altair
attrs
blinker
Brotli 
cachetools
certifi 
charset-normalizer 
click 
colorama 
et_xmlfile
filelock 
fsspec 
gitdb
GitPython
gmpy2 
huggingface_hub
idna
inquirerpy
Jinja2 
joblib 
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe 
mdurl
mkl-service
mkl_fft 
mkl_random 
mpmath 
narwhals
networkx 
numpy 
openpyxl
packaging 
pandas
pfzy
pillow 
prompt_toolkit
protobuf
pyarrow
pydeck
Pygments
PySocks 
python-dateutil
pytz
PyYAML 
referencing
regex 
requests 
rich
rpds-py
sacremoses
safetensors 
scikit-learn
scipy
six 
smmap
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm 
transformers
typing_extensions 
tzdata
urllib3 
watchdog
wcwidth
win-inet-pton 
